[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Faker = "*"
Flask = "*"
Flask-Migrate = "*"
flask-sqlalchemy = "*"
Werkzeug = "*"
importlib-metadata = "6.0.0"
importlib-resources = "5.10.0"
ipdb = "*"
pytest = "*"

[requires]
python_full_version = "*"
